.project-container {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  width: 100%;
  max-width: 1080px;
}

.project-img,
.project-text {
  margin: 25px;
}

.project-img img {
}

@media (min-width: 768px) {
  .project-container {
    /* flex-direction: row; */
  }

  .project-img {
    display: flex;
    flex-wrap: wrap;
  }

  .project-img img {
    width: calc(50% - 60px);
    margin: 20px 30px;
    flex-grow: 1;
  }
}
